.inputWrapper{
    display: flex;
    min-width: 30vw;
    padding : 10px;
    font-size : 24px;

    
    
}

.inputWrapper > label{
    color : white;
    margin-right : 1rem;
    flex : 3;
}

.inputWrapper > input{
    flex : 7;
    height : 30px;
    border-radius: 30px;
    outline: none;
    border-style : none;
    text-align: right;
    padding-right: 1rem;
}

